


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesMovie.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        
    IgnoreSection("Header");
    IgnoreSection("Footer");

    }
    @{
        var httpContext = Context.Request.HttpContext;
        var Id = httpContext.Session.GetString("Id");
        var Username = httpContext.Session.GetString("Username");
        var cartItemsCount = httpContext.Session.GetInt32("CartItemsCount");
    
    
    
        if (Id != null)
        {
          
            <header class="p-3 bg-dark text-white">
                @RenderSection("Header", required: false)
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <div class="mb-3">
                            <img src="~/Images/logo.png" width="32" height="32">
                        </div>
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-5">
                            <li><a asp-page="/Index" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Strona główna</font></font></a></li>
                            <li><a asp-page="/Store" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sklep</font></font></a></li>


                        </ul>

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                            <input type="search" class="form-control form-control-dark" placeholder="Szukaj..." aria-label="Szukaj">
                        </form>

                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/facebook-icon.png" width="32" height="32" class="rounded-circle me-2">
                                <strong>@Username</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item">Zamówienia</a></li>
                                <li><a class="dropdown-item">Ustawienia </a></li>
                                <li><a class="dropdown-item">Profil</a></li>
                                <li><hr class="dropdown-divider"></li>
                                @{
                                    var currentUrl = Context.Request.Path + Context.Request.QueryString;
                                }
                                <li><a class="dropdown-item" href="/Logout?Url=@currentUrl">Wyloguj</a></li>
                            </ul>
                        </div>
                         <div class="text-end">
                 
                     <a asp-page="/ShopCart"><img src="~/Images/koszyk.png" width=70px height="40" alt="Koszyk"></a>
                </div>


                    </div>
                </div>
            </header>
            
        }else{
    

    <header class="p-3 bg-dark text-white">
                @RenderSection("Header", required: false)
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                        <div class="">
                            <img src="~/Images/logo.png" width="60" height="60">
            </div>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-5">
                    <li><a asp-page="/Index" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Strona główna</font></font></a></li>
                    <li><a asp-page="/Store" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sklep</font></font></a></li>
                    
                   
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Szukaj..." aria-label="Szukaj">
                </form>

                <div class="text-end">
                    <a class="btn btn-outline-light me-2" asp-page="/Logow"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zaloguj sie</font></font></a>
                    <a class="btn btn-warning" asp-page="/Rejestracja"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Zarejestruj się</font></font></a>
                     <a asp-page="/ShopCart"><img src="~/Images/koszyk.png" width=70px height="40" alt="Koszyk"></a>
                       <span class="badge rounded-circle bg-primary top-0 start-100 translate-middle p-2 border border-light">@cartItemsCount</span>
                </div>
            </div>
        </div>
    </header>
    }
    }


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





   

    <footer class="py-3 border-top bg-dark text-white">
        @RenderSection("Footer", required: false)
        <div class="container"> 
        <div class="row justify-content-between text-center">
        <div class="col">
            <h5>Produkty</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Wszystkie Produkty</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Węgiel Kamienny</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Węgiel brunatny</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Węgiel drzewny</a></li>
                
            </ul>
        </div>

        <div class="col">
            <h5>Sklep</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dostawa i płatność</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Moje Konto</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Regulamin</a></li>
               
            </ul>
        </div>

        <div class="col">
            <h5>Informacje</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">O nas</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Opinie</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kontakt</a></li>
            </ul>
        </div>
        </div>
            <div class="my-4 border-top text-center">
            <p>© 2023 Projekt.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>         
            </ul>
        </div>
            </div> 
    </footer>
  

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>